@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/azure-blue.css";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900");
@include mat.core();

$theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$blue-palette,
                tertiary: mat.$green-palette,
            ),
        ));

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

@mixin toolbar-theme($theme) {
    mat-toolbar {
        background: mat.get-theme-color($theme, primary-container);
    }
}

:root {
    @include mat.all-component-themes($theme);
    @include toolbar-theme($theme);
}

/*GLOBAL STYLES */
html,
body {
    height: 100%;
    overflow-x: hidden;
}

html {
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto !important;
}

* {
    font-family: 'Lato', sans-serif;
}

.material-icons {
    transform: scale(1.2);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 10px !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
    overflow-y: hidden !important;
}