<div class="apartment-wrapper">
    <div class="apartment-header text-2xl">
        <p> Apartments ({{apartmentAmount}}) </p>
        <div class="control-panel">
            <input type="number" id="apartment-room-amount" [(ngModel)]="roomAmount" min="1"
                (ngModelChange)="changeRoomAmount()"
                class="bg-gray-50 mr-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Room amount" />
            <button mat-icon-button (click)="openCreateMenu()">
                <span class="material-icons">add_circle</span>
            </button>
            <button mat-icon-button (click)="changeSortMode()">
                @if(isAscendingSort)
                {
                <span class="material-icons">arrow_downward</span>
                }
                @else {
                <span class="material-icons">arrow_upward</span>
                }
            </button>
        </div>
    </div>

    <div class="apartment-body">
        <div *ngFor="let apartment of apartments">
            <apartment-item [apartment]="apartment"></apartment-item>
        </div>
    </div>
</div>